# Copy this file to /etc/udev/rules.d

# Once done, unplug and re-plug your device. This is all that is
# necessary to see the new permissions. Udev does not have to be restarted.

# If you think permissions of 0666 are too loose, then see:
# http://reactivated.net/writing_udev_rules.html for more information on finer
# grained permission setting.

SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6035", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6122", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6200", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6201", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="5003", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="5002", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="5001", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6512", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6800", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6801", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6900", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6901", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6B10", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6121", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6131", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="6511", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f132", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f200", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f312", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f800", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f900", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="f014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="fc14", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="e130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8080", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8140", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8146", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8141", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8031", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8200", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8201", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8311", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8500", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8520", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8600", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8800", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8315", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="7800", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="7140", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="7141", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="7200", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="7315", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8142", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="9141", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="9146", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="9520", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="9142", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="9143", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="a310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="a131", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="a010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="a014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b122", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b123", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b124", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3b14", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3bb4", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3312", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3850", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4b14", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4bb4", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4312", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4850", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="cb14", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c850", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c300", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d014", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="db14", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d010", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d850", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d510", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d300", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8148", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8149", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8206", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8316", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8506", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8516", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8526", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="814e", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="814f", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3018", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4018", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3016", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4016", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b310", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4130", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3314", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4314", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="c312", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="d312", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8044", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8045", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8046", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8047", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3714", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3731", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="3723", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4714", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4731", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="4723", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2000", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2001", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2002", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2003", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2004", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2005", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2006", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="2007", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0547", ATTRS{idProduct}=="8306", MODE="0666"